body {
  margin: 0;
  padding: 0;
  min-width: 940px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Стили кнопок*/

.button {
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
}

.button-main-logo {
  display: flex;
  justify-content: center;
  min-width: 220px;
  min-height: 51px;
  padding: 0;
  margin: 0;
}

.button-main-logo {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.button-main-logo:hover {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ca2c37;
}

.button-main-logo:active {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}

.button-footer-logo {
  display: flex;
  justify-content: center;
  min-width: 220px;
  min-height: 68px;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.button-transparent,
.button-transparent:focus {
  background-color: #293449;
  font-size: 17px;
  color: #ffffff;
}

.button-transparent:hover {
  background-color: #212a3a;
}

.button-transparent:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.button-green,
.button-green:focus {
  background-color: #63a63e;
  color: #ffffff;
}

.button-green:hover {
  background-color: #5fbb2d;
  color: #ffffff;
}

.button-green:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.button-with-border {
  border: 3px solid #ffffff;
  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.button-white {
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.button-white:hover {
  color: #ee3643;
}

.button-white:active {
  background-color: #f1f5f7;
  color: rgba(0, 0, 0, 0.3);
}

.button-white-user,
.button-white-user:hover {
  background-color: #f1f5f7;
  font-size: 21px;
  color: #000000;
}

.button-white-user:active {
  background-color: #f1f5f7;
  color: rgba(0, 0, 0, 0.3);
}

.button-red {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.button-red:hover {
  background-color: #ba2732;
}

.button-red:active {
  background-color: #ca2c37;
}

.button-transparent-full {
  background-color: #ee3643;
}

.button-with-gray-border {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: #000000;
  text-transform: uppercase;
}

.button-with-gray-border:hover {
  border: solid 1px #bdc6ca;
  background-color: #ffffff;
}

.button-with-gray-border:active {
  border: solid 1px #ee3643;
  background-color: #ffffff;
}

.button-translucent-gray {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.button-translucent-gray:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-translucent-gray:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.button-green-with-shadow {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.button-green-with-shadow:hover {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.button-green-with-shadow:active {
  background-color: #518534;
}

.button-transparent-with-green-border {
  border: solid 3px #63a63e;
  font-size: 14px;
  color: #32425c;
  text-transform: uppercase;
}

.button-transparent-with-green-border:hover {
  border: solid 3px #32425c;
  color: #32425c;
}

.button-transparent-with-green-border:active {
  border: solid 3px rgba(50, 66, 92, 0.3);
  color: rgba(50, 66, 92, 0.3);
}

.button-blue-big {
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}

.button-blue-big:hover {
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #293449;
}

.button-blue-big:active,
.button-blue-big.active {
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
  color: #32425c;
}


/*Стили главной страницы*/
/*Стили шапки*/

.header {
  background-color: #f3f7f9;
  min-height: 320px;
}

.top-menu-wrapper {
  min-height: 42px;
  background-color: #293449;
}

.top-menu {
  display: flex;
  flex-direction: row;
  width: 940px;
  min-height: 42px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.main-logo-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.center-menu-wrapper {
  min-height: 158px;
}

.center-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  min-height: 128px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.form-search {
  background-color: #293449;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  min-width: 270px;
  min-height: 42px;
  padding: 0;
  margin: 0;
}

.form-search:hover {
  background-color: #212a3a;
}

.form-search:focus {
  background-color: #ffffff;
  color: #000000;
}

.top-menu-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  max-width: 450px;
  flex-grow: 1;
  min-height: 42px;
  padding: 0;
  margin: 0;
}

.top-menu-list .button {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.main-headline-wrapper {
  min-width: 196px;
  min-height: 60px;
  padding: 0;
}

.main-headline {
  color: #ee3643;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
}

.main-contacts-wrapper {
  min-width: 320px;
  min-height: 60px;
}

.address {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.login-user-menu {
  display: flex;
  flex-direction: column;
}

.login-menu {
  display: flex;
  list-style: none;
  min-width: 380px;
  min-height: 60px;
  margin: 0;

}

.nav-wrapper {
  min-height: 120px;

}

.nav {
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;

}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  margin: 0;
  padding: 0;
}

.nav-list-item:hover {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.nav-list-item:active {
  background-color: #1d2739;
}

.nav-list-link {
  display: block;
  padding: 21px 33px;
  color: #ffffff;
}

.nav-list-link:active {
  color: rgba(255, 255, 255, 0.5);
}

/*Стили основного содержимого*/

.promo {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.promo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.promo-col-1 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.promo-col-2 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.promo-item {
  width: 300px;
  margin: 5px;
  padding: 0;
}

.promo-list .promo-item:first-child {
  background-color: #ffbf47;
}

.promo-list .promo-item:nth-child(2) {
  background-color: #3bbce3;
}

.promo-item:nth-child(1) {
  background-color: #dc91d8;
}

.promo-item:nth-child(2) {
  background-color: #8ed78f;
}

.promo-item:last-child {
  background-color: #ffc047;
}

.promo-item-headline {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: #ffffff;
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-item {
  width: 620px;
  height: 266px;
}

.slider-item-1 {
  background: url("../img/slider2.jpg") no-repeat;
}

.slider-item-2 {
  background: url("../img/slider1.jpg") no-repeat;
}

.slider-item-headline {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-item-text {
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
}

.slider-pagination {
  list-style: none;
  display: flex;
}

.popular-wrapper {
  display: flex;
  flex-direction: column;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;

}

.popular-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f5f0;
}

.popular-headline {
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}


.popular-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 0 -20px;
  padding: 0;
}

.catalog-item {
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 220px;
  margin-left: 20px;
  box-sizing: border-box;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.client-card {
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  margin-bottom: 20px;
  min-width: 220px;
  margin-left: 20px;
  box-sizing: border-box;
}

.client-card:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  background-color: #ffffff;
}

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0;
}

.service {
  background-color: #f4f7f9;
}

.service-main-wrapper {
  width: 940px;
  min-height: 89px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.service-wrapper {
  width: 398px;
}

.service-headline {
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}

.service-info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: #000000;
}

.service-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 240px;
}

.service-list-wrapper {
  display: flex;
}

.service-info-item-wrapper {
  width: 468px;
}

.service-info-list {
  list-style: none;
  padding: 0;
  width: 940px;
}

.service-info-item {
  display: none;
}

.service-info-item.active {
  display: block;
}


.service-info-list-headline {
  font-size: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.about-company-wrapper {
  min-height: 536px;
}

.about-company-all {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.about-company-headline {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company-info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.about-company-list {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

/*Стили подвала*/

.footer {
  background-color: #32425c;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 940px;
  min-height: 42px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: #32425c;
}

.logo-with-contacts {
  display: flex;
  flex-direction: column;
}

.footer-logo-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

}

.footer-nav-list-link {
  padding: 30px;
}

.footer-nav-list-first .footer-nav-list-link {
  color: #f1f5f7;
}

.footer-nav-list-first .footer-nav-list-link:hover {
  text-decoration: underline;
}

.footer-nav-list-first .footer-nav-list-link:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-nav-list-second .footer-nav-list-link {
  color: #ffd180;
}

.footer-nav-list-second .footer-nav-list-link:hover {
  text-decoration: underline;
}

.footer-nav-list-second .footer-nav-list-link:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-menu-2-wrapper {
  background-color: #293449;
}

.footer-menu-2 {
  display: flex;
  width: 940px;
  min-height: 42px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;

}

.copyright {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.socials {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.socials-item {
  background-color: #212a3a;
}

.links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.links-content {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.link {
  color: #ffd180;
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  color: #ee3643;
}

/*Скрыла попапы*/

.popup-feedback,
.popup-map,
.popup-basket {
  display: none;
}

/*Стили страницы каталога*/

.user-menu {
  display: flex;
  list-style: none;
}

.user-menu-dot {
  padding-right: 10px;
  padding-left: 10px;
}

.user-menu.orders,
.user-menu.account {
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.user-menu.orders:hover,
.user-menu.account:hover {
  color: #ee3643;
}

.user-menu.orders:active,
.user-menu.account:active {
  color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs-wrapper {
  width: 940px;
  min-height: 89px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.breadcrumbs-item {
  padding-right: 10px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.inner-page-title {
  background-color: #f2f6f8;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.main-block-wrapper {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.catalog-wrapper {
  max-width: calc(100% - 220px);
}

.catalog {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}


.catalog-item-info {
  display: block;
  padding: 30px 0;
}

.catalog-item-info-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

.catalog-item-name {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.old-price {
  color: #999999;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.new-price {
  background-color: #ee3643;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

legend {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-wrapper {
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

.filter-menu-wrapper {
  display: flex;
  flex-direction: column;
  width: 220px;
  flex: none;
}

.filter-list {
  list-style: none;
}

.filter-item {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.sorting-list-wrapper {
  display: flex;
  justify-content: flex-start;
  background: #f7f3ec;
  margin-left: 20px;
}

.sorting-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.sorting-item {
  color: rgba(0, 0, 0, 0.18);
}

.sorting-item:hover {
  color: #000000;
}

.sorting-item:active {
  color: #ee3643;
}

.filter-headline,
.sorting-headline,
.sorting-list {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.filter-headline-wrapper {
  background: #f7f3ec;
}

.price-slider,
.price-slider-number {
  background-color: #f7f3ec;
}

.catalog-item-info {
  background-color: #f4f7f9;
}

.catalog-item-info-headline {
  font-size: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-info-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
}
