body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Стили кнопок*/

.button {
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
}

.button-main-logo {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.button-footer-logo {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.button-green {
  background-color: #63a63e;
}

.button-with-border {
  border: 3px solid #ffffff;
  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.button-white {
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.button-red {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.button-transparent-full {
  background-color: #ee3643;
}

.button-with-gray-border {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

/*Стили главной страницы*/
/*Стили шапки*/
.header {
  background-color: #f3f7f9;
}

.top-menu {
  background-color: #293449;
}

.form-search {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.top-menu-list {
  list-style: none;
}

.top-menu-list .button {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.main-headline {
  color: #ee3643;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
}

.address {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.login-menu {
  list-style: none;
}

.nav {
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.nav-list {
  list-style: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
}

.nav-list a {
  color: #ffffff;
}

/*Стили основного содержимого*/

.about-company-headline {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company-info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.about-company-list {
  list-style: none;

  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

/*Стили подвала*/

.footer {
  background-color: #32425c;
}

.footer-menu {
  background-color: #32425c;
}

.footer-contacts {
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-nav-list {
  list-style: none;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-nav-list-first {
  color: #f1f5f7;
}

.footer-nav-list-second {
  color: #ffd180;
}

.footer-menu-2 {
  background-color: #293449;
}

.copyright {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.socials {
  list-style: none;
}

.socials-item {
  background-color: #212a3a;
}

.links {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.links-to {
  color: #ffd180;
}

/*Скрыла попапы*/

.popup-feedback,
.popup-map,
.popup-basket {
  display: none;
}

/*Стили страницы каталога*/

.user-menu {
  list-style: none;
}

.user-menu.orders,
.user-menu.account {
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-item {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.inner-page-title {
  background-color: #f2f6f8;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog {
  list-style: none;
}

.catalog-item {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.old-price {
  color: #999999;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.new-price {
  background-color: #ee3643;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

legend {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter {
  list-style: none;
}

.filter-item {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}


