body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Стили кнопок*/

.button {
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
}

.button-main-logo {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.button-footer-logo {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.button-green {
  background-color: #63a63e;
}

.button-with-border {
  border: 3px solid #ffffff;
  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.button-white {
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
}

.button-red {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.button-transparent-full {
  background-color: #ee3643;
}

.button-with-gray-border {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.button-translucent-gray {
  background-color: #000000;
  opacity: 0.1;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.button-green-with-shadow {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.button-transparent-with-green-border {
  border: solid 3px #63a63e;
  font-size: 14px;
  color: #32425c;
  text-transform: uppercase;
}

.button-white-big {
  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  color: #32425c;
}

.button-blue-big {
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}

/*Стили главной страницы*/
/*Стили шапки*/

.header {
  background-color: #f3f7f9;
}

.top-menu {
  background-color: #293449;
}

.form-search {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.top-menu-list {
  list-style: none;
}

.top-menu-list .button {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.main-headline {
  color: #ee3643;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
}

.address {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.login-menu {
  list-style: none;
}

.nav {
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.nav-list {
  list-style: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
}

.nav-list a {
  color: #ffffff;
}

/*Стили основного содержимого*/

.promo-list {
  list-style: none;
}

.promo-item:first-child {
  background-color: #ffbf47;
}

.promo-item:nth-child(2) {
  background-color: #3bbce3;
}

.promo-item:nth-child(3) {
  background-color: #dc91d8;
}

.promo-item:nth-child(4) {
  background-color: #8ed78f;
}

.promo-item:last-child {
  background-color: #ffc047;
}

.promo-item-headline {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: #ffffff;
}

.slider-list {
  list-style: none;
}

.slider-item:first-child {
  width: 620px;
  height: 266px;
  background: url("../img/slider1.jpg") no-repeat;
}

.slider-item:nth-child(2) {
  width: 620px;
  height: 266px;
  background: url("../img/slider2.jpg") no-repeat;
}

.slider-item-headline {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-item-text {
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
}

.popular-headline {
  background-color: #f9f5f0;
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-list {
  list-style: none;
}

.popular-item,
.catalog-item {
  border: solid 1px #eaeaea;
  background-color: #ffffff;
}

.popular-item-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.service {
  background-color: #f4f7f9;
}

.service-headline {
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}

.service-info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: #000000;
}

.service-list {
  list-style: none;
}

.service-info-list {
  list-style: none;
}

.service-info-list-headline {
  font-size: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.about-company-headline {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company-info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.about-company-list {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

/*Стили подвала*/

.footer {
  background-color: #32425c;
}

.footer-menu {
  background-color: #32425c;
}

.footer-contacts {
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-nav-list {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-nav-list-first {
  color: #f1f5f7;
}

.footer-nav-list-second {
  color: #ffd180;
}

.footer-menu-2 {
  background-color: #293449;
}

.copyright {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.socials {
  list-style: none;
}

.socials-item {
  background-color: #212a3a;
}

.links {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.links-to {
  color: #ffd180;
}

/*Скрыла попапы*/

.popup-feedback,
.popup-map,
.popup-basket {
  display: none;
}

/*Стили страницы каталога*/

.user-menu {
  list-style: none;
}

.user-menu.orders,
.user-menu.account {
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-item {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.inner-page-title {
  background-color: #f2f6f8;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog {
  list-style: none;
}

.catalog-item-name {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.old-price {
  color: #999999;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.new-price {
  background-color: #ee3643;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

legend {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-list {
  list-style: none;
}

.filter-item {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.sorting-list {
  list-style: none;
}

.filter-headline,
.sorting-headline,
.sorting-list {
  background-color: #f7f3ec;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.price-slider,
.price-slider-number {
  background-color: #f7f3ec;
}

.sorting-item {
  opacity: 0.3;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-item-first {
  opacity: unset;
  color: #ee3643;
}

.catalog-breadcrumb {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-info {
  background-color: #f4f7f9;
}

.catalog-item-info-headline {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-info-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #000000;
}
